@import url('https://fonts.googleapis.com/css?family=Spectral:400,700');
body{font-family:'Spectral',serif;color:#4A4A4A;display:block;height:100%;}
h1{font-weight:700;font-size:2.5em;}h2{font-size:1.3em;font-weight:300;}
h3{font-weight:300;text-decoration:underline;text-align:center;padding-top:5%;}
p{font-weight:400;font-size:1.1em;}a{color:#4A4A4A;text-decoration:underline;}
a:hover{color:#000;}
#main-container,#icon-list{width:50%;height:auto;margin-left:25%;display:-webkit-box;display:flex;flex-direction:row;}
#main-container{margin:0 auto;padding-top:9%;}#icon-list{padding-top:12.5%;display:-webkit-flex;display:flex;align-items:center;flex-direction:row;justify-content:center;text-align:center;}#icon-list img{padding-left:4%;padding-right:4%;width:40%;height:40%;}#project-container{width:40%;margin:0 auto;padding-top:2%;}.left,
.right{width:50%;

}
.right{display:-webkit-flex;display:flex;justify-content:center;align-items:center;}
.right img{width:80%;border-radius:50%;float:right;
	border: 2px solid;
	border-color: #4A4A4A;
	}.project p{margin-top:-1.5%;}@media screen and (max-width: 1248px) {#main-container,#icon-list{width:80%;margin-left:10%;}#main-container{padding-top:5%;flex-direction:column-reverse;}#icon-list img{margin-top:10%;}#project-container{width:60%;text-align:center;}.left,.right{width:100%;text-align:center;}.right img{width:30%;height:30%;}}@media screen and (max-width: 620px) {#icon-list img{margin-top:30%;width:40%;height:40%;padding-left:4%;padding-right:4%;}.right img{width:60%;height:60%;}}